body {
  max-width: 1200px;
  margin: auto;
  background-image: url("/exercise_material/background-image.jpg");
}

.addPost,
.displayPosts {
  margin-left: 50px;
}

.wrapper {
  background-color: white;
  padding: 10px;
}
